body{

    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(paisaje2.jpg);

}

.label{
    font-size: xx-large;
    font-style: italic;
    margin-left: 35%;
    margin-top: 5%;
    margin-right: 30%;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #d8f3f1e1;
}
.container{
    background-color: #d8f3f1e1;
    margin-top: 5%;
}
.letras{
    color: red;
    font-size: larger;

}